#grid {
    width: 200px;
    height: 300px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-col-span-4 {
    grid-column: span 4;
}

.add {
    grid-row: 2;
    grid-column: 4;
}

.sub{
    grid-row: 3;
    grid-column: 4;
}

.divi {
    grid-row: 4;
    grid-column: 4;
}

.mul {
    grid-row: 5;
    grid-column: 4;
}
button{
    padding: 10px;
}
#result{
    border-style: solid;
    width: 200px;
    height: 25px;
    text-align: right;
}