#grid {
  width: 340px;
  height: 300px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}

#ac{background-color: #ce9292;}
.grid-col-span-4 {
  grid-column: span 4;
}

.add {
  grid-row: 2;
  grid-column: 4;
}

.sub {
  grid-row: 3;
  grid-column: 4;
}

.divi {
  grid-row: 4;
  grid-column: 4;
}

.mul {
  grid-row: 5;
  grid-column: 4;
}

.equal {
  grid-column: span 2;
}

button {
  padding: 17px;
  border-radius: 25px;
  font-family: 'Scientific Calculator LCD', sans-serif;
}

#display {
  border-style: solid;
  border-radius: 8px;
  border-width: 2px;
  border-bottom: none;
  border-top: none;
  /* border-left: none;
  border-right: none; */
  height: 65px;
  text-align: right;
  margin-bottom: 0px;
}

body {
  font-family: 'Scientific Calculator LCD', sans-serif;
}